#Files I added
*_build/*
testFiles/*
bin/*
.DS_Store
.Rproj.user
.git
*.Rproj
rplots/*
rscripts/lib/*
helpFile.pdf
ionFinder/doc/doxygen/html/*
ionFinder/include/config.hpp
lib/*
*.o
*.so
*.Rbuildignore
*.Rprofile
ionFinder/.idea/*
*.pyc
*.pbs.*
*.pbs
*symbols.rds
*.swp
build/*
python/parsers/modules/tsv_constants.py
python/parsers/modules/scaffold_constants.py
python/parsers/modules/maxquant_constants.py
python/modules/spectrum_constants.py


## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Generated if empty string is given at "Please type another file name for output:"
*.pdf
#!installation_step_by_step.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
*.tar.gz
*.tgz

# Output files from R CMD check
*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

