
# .tsv file headers 
SAMPLE_NAME = "sampleName"
PARENT_ID = "parentId"
PARENT_PROTEIN = "parentProtein"
PARENT_DESCRIPTION = "parentDescription"
MATCH_DIRECTION = "matchDirection"
SEQUENCE = "sequence"
FULL_SEQUENCE = "fullSequence"
UNIQUE = "unique"
CHARGE = "charge"
XCORR = "xcorr"
SCAN_NUM = "scanNum"
PRECURSOR_MZ = "precursorMZ"
PRECURSOR_SCAN = "precursorScan"
PRECURSOR_FILE = "precursorFile"

# Scaffold headers
SPECTRUM_NAME = "spectrum_name"
PEPTIDE_SEQUENCE = "peptide_sequence"
PROTEIN_NAME = "protein_name"
FIXED_MODIFICATIONS = "fixed_modifications"
VARIABLE_MODIFICATIONS = "variable_modifications"
MS_MS_SAMPLE_NAME = "ms/ms_sample_name"
OBSERVED_M_Z = "observed_m/z"

