
 #column headings
 SAMPLE_NAME = "sampleName"
 PARENT_ID = "parentId"
 PARENT_PROTEIN = "parentProtein"
 PARENT_DESCRIPTION = "parentDescription"
 MATCH_DIRECTION = "matchDirection"
 SEQUENCE = "sequence"
 FULL_SEQUENCE = "fullSequence"
 UNIQUE = "unique"
 CHARGE = "charge"
 XCORR = "xcorr"
 SCAN_NUM = "scanNum"
 PRECURSOR_MZ = "precursorMZ"
 PRECURSOR_SCAN = "precursorScan"
 PRECURSOR_FILE = "precursorFile"

